# Build outputs
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Environment files
.env

# Dependency directories
node_modules/
packages/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
